<h1 class="display-1">Users</h1>

<div style="margin-bottom: 1rem;">
  <a href="<%= new_user_path %>">Create User</a>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Weight</th>
      <th>Smoker</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user['id'] %></td>

        <td><%= user['first_name'] %></td>

        <td><%= user['last_name'] %></td>

        <td><%= user['age'] %></td>

        <td><%= user['weight'] %></td>

        <td><%= user['smoker'] ? 'Yes' : 'No' %></td>

        <td>
          <a href="<%= user_path(user) %>">View</a>
          <span style="padding: 0px 4px;">|</span>
          <a href="<%= user_path(user) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Destroy</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
